h1 {
  color: #333a4a;
  margin: 0;
  padding: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

@media (width >= 576px) {
  h1 {
    font-family: Playfair Display, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
}

@media (width >= 1024px) {
  h1 {
    font-family: Playfair Display, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
}

h2 {
  color: #333a4a;
  margin: 0;
  padding: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

@media (width >= 576px) {
  h2 {
    font-family: Playfair Display, sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
}

@media (width >= 1024px) {
  h2 {
    font-family: Playfair Display, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
}

h3 {
  color: #333a4a;
  margin: 0;
  padding: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

@media (width >= 576px) {
  h3 {
    font-family: Playfair Display, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
  }
}

@media (width >= 1024px) {
  h3 {
    font-family: Playfair Display, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}

h4 {
  color: #333a4a;
  margin: 0;
  padding: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

@media (width >= 576px) {
  h4 {
    font-family: Playfair Display, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
  }
}

h5 {
  color: #333a4a;
  margin: 0;
  padding: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

p {
  color: #8b93b6;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.additional-text {
  color: #8b93b6;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.page {
  color: #8b93b6;
  scroll-behavior: smooth;
  background-color: #f1f5f4;
  font-family: Raleway, sans-serif;
}

.page__body {
  min-width: 320px;
  margin: 0;
}

.page__header {
  background-color: #3f5252;
}

.page__burger-menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__burger-menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.page:has(.page__burger-menu:target) {
  overflow: hidden;
}

.header__content {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.header__bottom {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto auto auto auto 1fr;
  column-gap: 20px;
  height: 100%;
  display: grid;
}

@media (width >= 576px) {
  .header__bottom {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .header__bottom {
    --columns: 12;
  }
}

.header__dates {
  color: #f1f5f4;
  grid-column: 1 / -1;
  margin-top: 50px;
}

@media (width >= 576px) {
  .header__dates {
    grid-column: 1 / 3;
    margin-top: 100px;
  }
}

@media (width >= 1024px) {
  .header__dates {
    margin-top: 90px;
  }
}

.header__title {
  color: #f1f5f4;
  grid-column: 1 / -1;
  margin-top: 10px;
}

@media (width >= 576px) {
  .header__title {
    grid-column: 1 / 7;
  }
}

.header__description {
  color: #f1f5f4;
  grid-column: 1 / -1;
  margin-top: 30px;
}

@media (width >= 576px) {
  .header__description {
    grid-column: 1 / 4;
    margin-top: 20px;
  }
}

@media (width >= 1024px) {
  .header__description {
    grid-column: 1 / 7;
    margin-top: 30px;
  }
}

.header__buy-ticket {
  grid-column: 1 / -1;
  margin-block: 40px;
}

@media (width >= 576px) {
  .header__buy-ticket {
    grid-column: 1 / 4;
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

@media (width >= 1024px) {
  .header__buy-ticket {
    margin-top: 82px;
    margin-bottom: 135px;
  }
}

.header__divider-container {
  display: none;
}

@media (width >= 1024px) {
  .header__divider-container {
    white-space: nowrap;
    grid-column: 1 / 7;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    display: flex;
  }
}

.header__divider-dates {
  display: none;
}

@media (width >= 1024px) {
  .header__divider-dates {
    color: #f1f5f4;
    opacity: .7;
    font-family: Playfair Display, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    display: flex;
  }
}

.header__divider {
  display: none;
}

@media (width >= 1024px) {
  .header__divider {
    opacity: .3;
    background-color: #f1f5f4;
    border: none;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    display: flex;
  }
}

.header__image {
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

@media (width >= 576px) {
  .header__image {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .header__image {
    grid-area: 1 / 7 / 6 / 13;
    margin-right: -56px;
  }
}

.top-menu {
  box-sizing: border-box;
  height: 80px;
  padding-block: 20px;
}

@media (width >= 576px) {
  .top-menu {
    height: 77px;
  }
}

@media (width >= 1024px) {
  .top-menu {
    height: 90px;
    padding-block: 26px;
  }
}

.top-menu__content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.top-menu__icons {
  justify-content: space-between;
  gap: 30px;
  display: flex;
}

@media (width >= 576px) {
  .top-menu__icons {
    gap: 40px;
  }
}

.top-menu__link {
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-menu__link:link {
  text-decoration: none;
}

.logo {
  transition: transform .3s;
  display: flex;
}

.logo:hover {
  transform: scale(1.2);
}

.logo__svg {
  fill: #f1f5f4;
}

.image {
  display: flex;
}

.image--header {
  background-image: url("header__image--mobile.b3846b27.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

@media (width >= 576px) {
  .image--header {
    background-image: url("header__image--tablet.5e585517.png");
  }
}

@media (width >= 1024px) {
  .image--header {
    background-image: url("header__image--desktop.3485bcd2.png");
  }
}

@media (width >= 576px) {
  .image--burger-menu {
    background-image: url("burger-menu__image--tablet.53b5940f.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}

@media (width >= 1024px) {
  .image--burger-menu {
    background-image: url("burger-menu__image--desktop.be931aa4.png");
  }

  .image--plan-a-visit {
    background-image: url("plan-a-visit__image--desktop.92df1418.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 578px;
    height: 800px;
  }
}

.icon {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: transform .3s;
  display: flex;
}

.icon:hover {
  transform: scale(1.05);
}

.icon__svg--fill {
  fill: #f1f5f4;
}

.icon__svg--stroke {
  stroke: #f1f5f4;
}

.icon--current-language {
  color: #f1f5f4;
  text-align: center;
  justify-content: space-between;
  gap: 5px;
  width: max-content;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: flex;
}

@media (width >= 576px) {
  .icon--current-language {
    gap: 2px;
  }
}

.icon--visibility {
  display: none;
}

@media (width >= 576px) {
  .icon--visibility {
    display: flex;
  }
}

.icon--footer {
  width: 20px;
  height: 20px;
}

.icon--facebook {
  background-image: url("facebook.b06ac169.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--twitter {
  background-image: url("twitter.af0920f9.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--telegram {
  background-image: url("telegram.bd0afb92.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--instagram {
  background-image: url("instagram.4f4fa4b4.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  color: #f1f5f4;
  text-align: center;
  stroke: #cd4d31;
  background-color: #cd4d31;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  transition: transform .3s;
  display: flex;
}

.button:hover {
  transform: scale(1.05);
}

.button:link {
  text-decoration: none;
}

.button:hover {
  stroke: #af3419;
  background-color: #af3419;
}

.button:active {
  stroke: #ea340d;
  background-color: #ea340d;
}

.button--secondary {
  box-sizing: border-box;
  color: #cd4d31;
  background-color: #f1f5f4;
  border: 1px solid #cd4d31;
  justify-content: center;
  gap: 8px;
  display: flex;
}

.button--secondary:hover {
  color: #af3419;
  background-color: #f1f5f4;
  border: 1px solid #af3419;
}

.button--secondary:active {
  color: #ea340d;
  border: 1px solid #ea340d;
}

.button__svg-icon {
  stroke: inherit;
}

.burger-menu {
  background-color: #3f5252;
  overflow: auto;
}

.burger-menu__content {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.burger-menu__top {
  z-index: 1;
  background-color: #3f5252;
  position: sticky;
  top: 0;
}

.burger-menu__bottom {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto auto auto auto 1fr;
  column-gap: 20px;
  height: 100%;
  display: grid;
}

@media (width >= 576px) {
  .burger-menu__bottom {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .burger-menu__bottom {
    --columns: 12;
  }
}

.burger-menu__todays-schedule {
  grid-column: 1 / 3;
  margin-top: 10px;
}

@media (width >= 576px) {
  .burger-menu__todays-schedule {
    margin-top: 30px;
  }
}

@media (width >= 1024px) {
  .burger-menu__todays-schedule {
    margin-top: 13px;
  }
}

.burger-menu__todays-schedule-title {
  color: #f1f5f4;
}

.burger-menu__todays-schedule-time {
  color: #f1f5f4;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.burger-menu__address {
  grid-column: 1 / 3;
  margin-top: 20px;
}

@media (width >= 576px) {
  .burger-menu__address {
    grid-column: 3 / 7;
    margin-top: 30px;
  }
}

@media (width >= 1024px) {
  .burger-menu__address {
    margin-top: 12px;
  }
}

.burger-menu__address-title {
  color: #f1f5f4;
}

.burger-menu__address-details {
  color: #f1f5f4;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.burger-menu__address-details:hover {
  text-decoration: underline;
}

.burger-menu__nav {
  grid-column: 1 / -1;
}

@media (width >= 1024px) {
  .burger-menu__nav {
    grid-column: 1 / 7;
  }
}

.burger-menu__divider {
  background-color: #f1f5f4;
  border: none;
  grid-column: 1 / -1;
  height: 1px;
  margin: 0;
  padding: 0;
}

@media (width >= 1024px) {
  .burger-menu__divider {
    grid-column: 1 / 7;
  }
}

.burger-menu__buy-ticket {
  grid-column: 1 / -1;
  margin-block: 40px;
}

@media (width >= 576px) {
  .burger-menu__buy-ticket {
    grid-column: 1 / 4;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

@media (width >= 1024px) {
  .burger-menu__buy-ticket {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.burger-menu__image {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

@media (width >= 576px) {
  .burger-menu__image {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .burger-menu__image {
    grid-area: 1 / 7 / 6 / 13;
    margin-right: -56px;
  }
}

.nav {
  padding-block: 40px;
}

@media (width >= 576px) {
  .nav {
    padding-block: 50px;
  }
}

.nav__list {
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (width >= 576px) {
  .nav__list {
    gap: 30px;
  }
}

.nav__link {
  color: #f1f5f4;
  font-family: Playfair Display, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

@media (width >= 576px) {
  .nav__link {
    font-family: Playfair Display, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}

.footer-nav {
  padding-bottom: 60px;
}

@media (width >= 576px) {
  .footer-nav {
    padding-bottom: 0;
  }
}

.footer-nav__list {
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (width >= 576px) {
  .footer-nav__list {
    gap: 10px;
  }
}

.footer-nav__link {
  color: #f1f5f4;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.footer-nav__link--main {
  margin-bottom: 5px;
  font-family: Playfair Display, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: inline-block;
}

@media (width >= 576px) {
  .footer-nav__link--main {
    margin-bottom: 20px;
  }
}

.main__content-block-1 {
  row-gap: 120px;
  padding-block: 90px;
  display: grid;
}

@media (width >= 576px) {
  .main__content-block-1 {
    row-gap: 160px;
    padding-block: 100px;
  }
}

@media (width >= 1024px) {
  .main__content-block-1 {
    row-gap: 200px;
    padding-block: 110px;
  }
}

.main__content-block-2 {
  background-color: #3f5252;
}

.main__content-block-3 {
  row-gap: 120px;
  margin-top: 90px;
  margin-bottom: 80px;
  display: grid;
}

@media (width >= 576px) {
  .main__content-block-3 {
    row-gap: 160px;
    margin-top: 120px;
    margin-bottom: 130px;
  }
}

@media (width >= 1024px) {
  .main__content-block-3 {
    row-gap: 200px;
    margin-top: 110px;
    margin-bottom: 200px;
  }
}

.current-exhibitions {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-flow: row dense;
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .current-exhibitions {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .current-exhibitions {
    --columns: 12;
  }
}

.current-exhibitions__section-title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .current-exhibitions__section-title {
    grid-column: 1 / 5;
    margin-block: 5px;
  }
}

@media (width >= 1024px) {
  .current-exhibitions__section-title {
    grid-column: 1 / 10;
    margin-block: 2px;
  }
}

.current-exhibitions__exhibition {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-content: space-between;
  margin-top: 60px;
  display: grid;
}

@media (width >= 576px) {
  .current-exhibitions__exhibition {
    grid-column: span 3;
    margin-top: 75px;
  }
}

@media (width >= 1024px) {
  .current-exhibitions__exhibition {
    grid-column: span 6;
    margin-top: 71px;
  }
}

.current-exhibitions__link {
  grid-column: 1 / -1;
  transition: transform .3s;
}

.current-exhibitions__link:hover {
  transform: scale(1.05);
}

.current-exhibitions__image {
  object-fit: cover;
  width: 100%;
  height: 356px;
  margin-bottom: 20px;
}

@media (width >= 576px) {
  .current-exhibitions__image {
    width: 100%;
    height: 420px;
    margin-bottom: 30px;
  }
}

@media (width >= 1024px) {
  .current-exhibitions__image {
    width: 100%;
    height: 484px;
    margin-bottom: 20px;
  }
}

.current-exhibitions__dates {
  color: #cd4d31;
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.current-exhibitions__title {
  grid-column: 1 / -1;
}

.current-exhibitions__description {
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (width >= 576px) {
  .current-exhibitions__description {
    margin-bottom: 40px;
  }
}

.current-exhibitions__buy-ticket {
  grid-column: 1 / -1;
}

@media (width >= 1024px) {
  .current-exhibitions__buy-ticket {
    grid-column: span 3;
  }
}

.current-exhibitions__archive {
  grid-column: 1 / -1;
  margin-block: 30px;
}

@media (width >= 576px) {
  .current-exhibitions__archive {
    grid-column: 5 / -1;
    margin: 0;
  }
}

@media (width >= 1024px) {
  .current-exhibitions__archive {
    grid-column: 10 / -1;
  }
}

.upcoming-events {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-flow: row dense;
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .upcoming-events {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .upcoming-events {
    --columns: 12;
  }
}

.upcoming-events__section-title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .upcoming-events__section-title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .upcoming-events__section-title {
    grid-column: 1 / 7;
  }
}

.upcoming-events__event {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-items: start;
  margin-top: 60px;
  display: grid;
}

@media (width >= 576px) {
  .upcoming-events__event {
    grid-column: span 6;
    margin-top: 75px;
  }
}

@media (width >= 1024px) {
  .upcoming-events__event {
    grid-column: span 10;
    margin-top: 70px;
  }
}

.upcoming-events__link {
  grid-area: 1 / 1 / 3 / -1;
}

@media (width >= 576px) {
  .upcoming-events__link {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .upcoming-events__link {
    grid-column: 1 / 5;
  }
}

.upcoming-events__image {
  object-fit: cover;
  width: 100%;
  height: 422px;
  margin-bottom: 20px;
  transition: transform .3s;
}

.upcoming-events__image:hover {
  transform: scale(1.05);
}

@media (width >= 576px) {
  .upcoming-events__image {
    width: 100%;
    height: 422px;
    margin-bottom: 0;
  }
}

@media (width >= 1024px) {
  .upcoming-events__image {
    width: 100%;
    height: 475px;
    margin-bottom: 0;
  }
}

.upcoming-events__details {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  display: grid;
}

@media (width >= 576px) {
  .upcoming-events__details {
    grid-column: 4 / -1;
  }
}

@media (width >= 1024px) {
  .upcoming-events__details {
    grid-column: 5 / -1;
  }
}

.upcoming-events__date {
  color: #cd4d31;
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.upcoming-events__title {
  grid-column: 1 / -1;
}

.upcoming-events__description {
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (width >= 576px) {
  .upcoming-events__description {
    margin-bottom: 50px;
  }
}

.upcoming-events__register {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .upcoming-events__register {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .upcoming-events__register {
    grid-column: 1 / 4;
  }
}

.upcoming-events__calendar {
  grid-column: 1 / -1;
  margin-block: 30px;
}

@media (width >= 576px) {
  .upcoming-events__calendar {
    grid-column: 5 / -1;
    margin: 0;
  }
}

@media (width >= 1024px) {
  .upcoming-events__calendar {
    grid-column: 10 / -1;
  }
}

.plan-a-visit {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: start;
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .plan-a-visit {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .plan-a-visit {
    --columns: 12;
  }
}

.plan-a-visit__content {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-items: start;
  padding-block: 50px;
  display: grid;
}

@media (width >= 576px) {
  .plan-a-visit__content {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .plan-a-visit__content {
    grid-area: 2 / 6 / 3 / -1;
  }
}

.plan-a-visit__title {
  color: #f1f5f4;
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .plan-a-visit__title {
    grid-column: 1 / -1;
  }
}

.plan-a-visit__description {
  color: #f1f5f4;
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (width >= 576px) {
  .plan-a-visit__description {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .plan-a-visit__description {
    grid-column: 1 / 6;
  }
}

.plan-a-visit__start {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .plan-a-visit__start {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .plan-a-visit__image {
    grid-area: 1 / 1 / 4 / 5;
    margin-left: -56px;
  }
}

.news {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-flow: row dense;
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .news {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .news {
    --columns: 12;
  }
}

.news__section-title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .news__section-title {
    grid-column: 1 / 5;
    margin-block: 5px;
  }
}

@media (width >= 1024px) {
  .news__section-title {
    grid-column: 1 / 10;
    margin-block: 2px;
  }
}

.news__entry {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-content: space-between;
  margin-top: 60px;
  display: grid;
}

@media (width >= 576px) {
  .news__entry {
    grid-column: span 3;
    margin-top: 75px;
  }
}

@media (width >= 1024px) {
  .news__entry {
    grid-column: span 6;
    margin-top: 71px;
  }
}

.news__link {
  grid-column: 1 / -1;
}

.news__image {
  object-fit: cover;
  width: 100%;
  height: 281px;
  margin-bottom: 20px;
  transition: transform .3s;
}

.news__image:hover {
  transform: scale(1.05);
}

@media (width >= 576px) {
  .news__image {
    width: 100%;
    height: 330px;
    margin-bottom: 30px;
  }
}

@media (width >= 1024px) {
  .news__image {
    width: 100%;
    height: 370px;
    margin-bottom: 20px;
  }
}

.news__date, .news__title {
  grid-column: 1 / -1;
}

.news__description {
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (width >= 576px) {
  .news__description {
    margin-bottom: 0;
  }
}

.news__all-news {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .news__all-news {
    grid-column: 5 / -1;
  }
}

@media (width >= 1024px) {
  .news__all-news {
    grid-column: 10 / -1;
  }
}

.subscribe {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-flow: column;
  align-items: start;
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .subscribe {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .subscribe {
    --columns: 12;
  }
}

.subscribe__section-title {
  grid-column: 1 / -1;
}

@media (width >= 1024px) {
  .subscribe__section-title {
    grid-column: 1 / 7;
  }
}

.subscribe__description {
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (width >= 576px) {
  .subscribe__description {
    grid-column: 1 / 6;
  }
}

@media (width >= 1024px) {
  .subscribe__description {
    grid-column: 7 / -1;
    margin: 0;
  }
}

.subscribe__form {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  display: grid;
}

@media (width >= 576px) {
  .subscribe__form {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .subscribe__form {
    grid-column: 1 / 6;
    margin-top: 50px;
  }
}

.subscribe__form-label {
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 3px;
  display: flex;
}

@media (width >= 576px) {
  .subscribe__form-label {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .subscribe__form-label {
    grid-column: 1 / 6;
  }
}

.subscribe__form-input {
  box-sizing: border-box;
  background-color: inherit;
  color: #1c1b29;
  border: none;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.subscribe__form-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #f1f5f4;
}

.subscribe__form-input::placeholder {
  font-weight: 400;
}

.subscribe__form-input:focus {
  caret-color: #cd4d31;
  outline: none;
}

.subscribe__input-strip {
  background-color: #1c1b29;
  width: 100%;
  height: 1px;
}

.subscribe__form-label:hover .subscribe__input-strip {
  background-color: #cd4d31;
}

.subscribe__form-label:hover .subscribe__form-input::placeholder {
  color: #cd4d31;
}

.subscribe__form-button {
  border: none;
  grid-column: 1 / -1;
  margin-top: 30px;
  padding: 0;
}

@media (width >= 576px) {
  .subscribe__form-button {
    grid-column: 1 / 4;
  }
}

.footer {
  background-color: #3f5252;
}

.footer__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  padding-top: 34px;
  padding-bottom: 30px;
  display: grid;
}

@media (width >= 576px) {
  .footer__content {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .footer__content {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .footer__content {
    padding-top: 50px;
  }
}

.footer__contacts {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .footer__contacts {
    grid-column: 1 / 3;
  }
}

@media (width >= 1024px) {
  .footer__contacts {
    grid-column: 1 / 5;
  }
}

.footer__title {
  color: #f1f5f4;
  margin-bottom: 10px;
  font-family: Playfair Display, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@media (width >= 576px) {
  .footer__title {
    margin-bottom: 30px;
    font-family: Playfair Display, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}

.footer__city {
  color: #f1f5f4;
}

.footer__address {
  color: #f1f5f4;
  text-decoration: none;
}

.footer__address:hover {
  text-decoration: underline;
}

.footer__phones {
  color: #f1f5f4;
}

.footer__phone {
  color: inherit;
  text-decoration: none;
}

.footer__phone:hover {
  text-decoration: underline;
}

.footer__email {
  color: #f1f5f4;
  text-decoration: none;
}

.footer__email:hover {
  text-decoration: underline;
}

.footer__social-networks {
  justify-content: start;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
}

@media (width >= 576px) {
  .footer__social-networks {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

@media (width >= 1024px) {
  .footer__social-networks {
    margin-bottom: 70px;
  }
}

.footer__schedule {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .footer__schedule {
    grid-column: 3 / 5;
  }
}

@media (width >= 1024px) {
  .footer__schedule {
    grid-column: 5 / 9;
  }
}

.footer__opening-hours {
  color: #f1f5f4;
  margin-bottom: 50px;
}

@media (width >= 576px) {
  .footer__opening-hours {
    margin-bottom: 60px;
  }
}

.footer__nav {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .footer__nav {
    grid-column: 5 / 7;
  }
}

@media (width >= 1024px) {
  .footer__nav {
    grid-column: 9 / 13;
  }
}

.footer__legal {
  grid-column: 1 / -1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer__legal-info {
  justify-content: start;
  gap: 22px;
  display: flex;
}

.footer__copyrights {
  color: #f1f5f4;
}

.footer__terms {
  color: #f1f5f4;
  text-decoration: none;
  display: flex;
}

.footer__terms:hover {
  text-decoration: underline;
}

.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 40px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 56px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
